# Logs
logs
*.log
npm-debug.log*
# SSH Keys
sshkey
sshkey.pub
# Runtime data
pids
*.pid
*.seed
# Directory containing development build
dev
mochawesome-report
coverage
.env
.nyc_output
.map
# node-waf configuration
.lock-wscript
# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
dist
.idea
